.photos {
  display: flex;
  align-items: center;
  padding: 32px 0px 0px 105px;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 42px;
  overflow-x: auto;
  height: 342px;
}

.photo {
  border-radius: 4px;
}