.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 1;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

.modal-body {
  display: flex;
  margin: 1rem;
  justify-content: center;
}