.photo {
  width: 150px;
  height: 150px;
}

.photo:hover {
  cursor: pointer;
}

.photo-tooltip {
  position: absolute;
  width: 150px;
  height: max-content;
  padding: 4px;
  left: 0;
  top: 0;
  color: white;
  background: rgba(0, 0, 0, 0.69);
  border-radius: 4px;
}

.photo-star {
  position: relative;
  left: 110px;
  top: -142px;
}